@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/fundo6.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* Faz a imagem de fundo cobrir todo o espaço disponível */
    background-attachment: fixed;
    /* Mantém a imagem fixa ao rolar a página */
}