@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/fundo7.jpg');
    background-size: contain;
    /* Ajusta para que a imagem caiba dentro do corpo */
    background-position: center;
    /* Centraliza a imagem */
}